fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector
newsapi-python
praw
gnews
beautifulsoup4
lxml
newspaper3k
tweepy
facebook-sdk
transformers
torch
sentence-transformers
scikit-learn
nltk
spacy
pandas
numpy
huggingface_hub
requests
python-dotenv
httpx
python-multipart
lxml_html_clean
gradio-client
discord.py
aiohttp
